/* Method 1: Using Google Fonts (Easier) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Method 2: Using Local Font Files */
@font-face {
    font-family: 'newvalley';
    src: url('./new-valley.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    background-color: white;
}

#main-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#fs{
    width: 100%;
    height: 100%;
    background-color: #c55a03;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fs span{
    font-family: 'newvalley';
    font-size: 50px;
    /* opacity: 0; */
}
#ss{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: #002B50;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ss span{
    font-family: 'newvalley';
    font-size: 50px;
    opacity: 0;
}
#ts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001220;
    position: absolute;
    bottom: 0;
    transform: scaleY(0);
    overflow: hidden;
}
#gradient-container {
    /* background: #001220; */
    background: transparent;
    z-index: 1000;
    width: 600px;
    height: 300px;
    border-radius: 300px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: url("./background.png");
    background-size: 250% 250%;
    background-position: 10% 10%;
    background-repeat: repeat;
    transition: background-position .7s ease-in-out;
    border: 2px solid transparent;
}
/* #gradient-container:hover{
    background-position: 100% 100%;
} */


#main-heading {
    font-family: 'newvalley', sans-serif;
    margin: 0;
    font-weight: 0;
    font-size: 25px;
    margin-bottom: 0;
    padding: 0;
}


#gradient-container span{
    font-size: 30px;
}

#gradient-container #socials{
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gradient-container #socials p{
    margin: 0;
    padding: 10px 0 6px 0;
}
#gradient-container #socials ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#gradient-container #socials ul li{
    list-style: none;
    margin-top: 8px;
}

#gradient-container #socials ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.439);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 8px 8px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.264);
    /* border: 1px solid transparent;
    background: radial-gradient(
        circle at 50% 240%,
        white, transparent
    )padding-box,
    linear-gradient(white, transparent) border-box; */
    background: radial-gradient(
        circle at 50% 240%,
        white, transparent
    );
    background-size: 200% 200%;
    background-position: 0% 0%;
    transition: background-position 0.3s ease-in-out;
}

#gradient-container #socials ul li a:hover{
    background: radial-gradient(
        circle at 240% 50%,
        white, transparent
    );
    background-size: 200% 200%;
    background-position: 100% 100%;
    cursor: pointer;
}

#gradient-container:hover{
    transition: transform 0.5s ease-in-out;
    transform: scale(1.056);
    animation: rotate-glow 3s linear infinite;
}

@keyframes rotate-glow {
    0% {
        box-shadow: 0 0 100px 0px #ffb366eb;
    }
    25% {
        box-shadow: 0 0 100px 0px #004080eb;
    }
    50% {
        box-shadow: 0 0 100px 0px #66A3FFeb;
    }
    75% {
        box-shadow: 0 0 100px 0px #FF6600eb;
    }
    100% {
        box-shadow: 0 0 100px 0px #FFB366eb;
    }
}


/* 
#backgroundBalls{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: aqua;
    z-index: 1;
}

#redball{
    width: 300px;
    height: 300px;
    background-color: #c55a03;
    border-radius: 100%;
    filter: blur(50px);
}
#blueball{
    width: 300px;
    height: 300px;
    background-color: #0066CC;
    border-radius: 100%;
    filter: blur(50px);
} */

@keyframes rotate-glow {
    0% {
        box-shadow: 0 0 75px 0px #FFB3666e;
    }
    25% {
        box-shadow: 0 0 75px 0px #0040806e;
    }
    50% {
        box-shadow: 0 0 75px 0px #66A3FF6e;
    }
    75% {
        box-shadow: 0 0 75px 0px #FF66006e;
    }
    100% {
        box-shadow: 0 0 75px 0px #FFB3666e;
    }
}

@media (max-width: 600px) {
  #gradient-container {
    background-size: 300% 300%;
    /* background-position: 50% 50%; */
    width: 300px;
    height: 600px;
  }
  #main-heading {
    font-size: 23px;
  }
  #gradient-container span {
    font-size: 25px;
  }
  #gradient-container #socials ul li a {
    font-size: 18px;
    padding: 6px 6px;
    margin: 0 3px;
  }
}
